#loading img.logo{position:absolute;top:50px;left:50%;margin-left:-300px;}
#loading div{position:absolute;top:50%;height:120px;margin-top:-60px;text-align:center;width:100%;}
#loading div p{color:#666;font-weight:bold;padding:20px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background:#FAFAFA}