body {
	font-family:verdana,helvetica,arial,sans-serif;
}

#root .content {
	position:absolute;top:50%;height:200px;margin-top:-100px;text-align:center;width:100%;
	color:#666;font-weight:bold;padding:20px 0px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background:#FAFAFA
}
#root img.logo {
    left: 50%;
    margin-left: -300px;
    position: absolute;
    top: 50px;
}

#root form{
	text-align:center;
}

#root form label {
	display:inline-block;
	min-width:150px;
	text-align:left;
	/* hack IE6 */
	_width:150px;
}

#root form a {
	text-decoration:none;
	font-size:12px;
	margin-left:20px;
	color:#78bbce;
	cursor:pointer;
}

#root form input[type=submit] {
	margin-top:20px;
	border:0px none;
	padding:5px 20px;
	background:#78bbce;
	color:white;
	font-weight:bold;
	cursor:pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#root form input {
	margin-top:10px;
	border: 1px solid #CCC;
	padding:3px 5px;
	width:300px;
}

#root form small {
	width:312px;
	background:red;
	color:white;
	font-weight:bold;
	display:none;
	margin:0 auto;
}


#root form .error small{
	display:block;
}

#root form .error input{
	border:1px solid red;
}