body {
	font-family:verdana,helvetica,arial,sans-serif;
}

#notlogged-content {
	position:absolute;top:50%;height:120px;margin-top:-60px;text-align:center;width:100%;
	color:#666;font-weight:bold;padding:20px 0px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background:#FAFAFA
}
#notlogged img.logo {
    left: 50%;
    margin-left: -300px;
    position: absolute;
    top: 50px;
}


#notlogged .login label {
	display:inline-block;
	min-width:150px;
	text-align:left;
}

#notlogged .login a {
	text-decoration:none;
	font-size:12px;
	margin-left:20px;
	color:#78bbce;
	cursor:pointer;
}

#notlogged .login input {
	margin-top:10px;
	border: 1px solid #CCC;
	padding:3px 5px;
}

#notlogged .login input[type=submit] {
	margin-top:20px;
	border:0px none;
	padding:5px 20px;
	background:#78bbce;
	color:white;
	font-weight:bold;
	cursor:pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}


#notlogged .password-lost label {
	display:inline-block;
	min-width:150px;
	text-align:left;
}

#notlogged .password-lost a {
	text-decoration:none;
	font-size:12px;
	margin-left:20px;
	color:#78bbce;
	cursor:pointer;
}

#notlogged .password-lost input {
	margin-top:30px;
	border: 1px solid #CCC;
	padding:3px 5px;
}

#notlogged .password-lost input[type=submit] {
	margin-top:20px;
	border:0px none;
	padding:5px 20px;
	background:#78bbce;
	color:white;
	font-weight:bold;
	cursor:pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}