#root-logged-mail-content-left {
    position:absolute;
    width:250px;
    top:60px;
    bottom:0px;
    border-right:1px solid #CCC;
    background: #88bacf;

    /* hack IE6 */
    _width:251px;
    _height:expression((document.body.clientHeight - 60) + 'px');
}

#root-logged-mail-content-left .content {
    padding:30px;
    text-align:center;
}

#root-logged-mail-content-left .new {
    font-size:1.1em;
    color: #444;
    background-color:white;
    border:0px none;
    padding:10px 20px;
    margin-bottom:20px;
    cursor:pointer;
    /* hack IE6-7 */
    *font-size:0.9em;
    *padding:10px;
}

#root-logged-mail-content-left ul {
    text-align:left;
}

#root-logged-mail-content-left ul li {
    padding:5px 20px;
    list-style:none;
}

#root-logged-mail-content-left ul li a {
    text-decoration:none;
    color:black;
}

#root-logged-mail-content-left ul li a.active {
    color:#ee6d22;
    font-weight:bold;
}

#root-logged-mail-content-right {
    position:absolute;
    left:251px;
    right:0px;
    top:60px;
    bottom:0px;
    overflow:auto;
    /* hack IE6 */
    _width:expression((document.body.clientWidth - 251) + 'px');
    _height:expression((document.body.clientHeight - 60) + 'px');
}


.root-logged-mail-content-box {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:60px;
    overflow:auto;
}

.root-logged-mail-content-box ul {
    padding:5px 10px;
    border-bottom:1px solid #DDD;
}

.root-logged-mail-content-box ul:nth-child(even) {
    background-color:#FAFAFA;
}

.root-logged-mail-content-box ul li {
    display:inline;
    list-style:none;
}

.root-logged-mail-content-box ul li.check {
    float:left;
    min-width:30px;
}

.root-logged-mail-content-box ul li.sender {
    float:left;
    min-width:180px;
}

.root-logged-mail-content-box ul li.time {
    float:right;
    min-width:60px;
}



#root-logged-mail-content-right .bottom {
    position:fixed;
    bottom:0px;
    left:251px;
    right:0px;
    border-top:1px solid #DDD;
    padding:10px 40px;
    background-color:#FAFAFA;
    /* hack IE6 */
    _position:absolute;
    _left:0;
    _width:100%;
}

#root-logged-mail-content-right .bottom a {
    display:inline-block;
    line-height:40px;
    text-decoration:none;
    font-size:1.1em;
    color:#666;
}