#root-notlogged-content #root-notlogged-password-lost label {
    display:inline-block;
    min-width:150px;
    text-align:left;
    /* hack IE6 */
    _width:150px;
}

#root-notlogged-content #root-notlogged-password-lost a {
    text-decoration:none;
    font-size:12px;
    margin-left:20px;
    color:#78bbce;
    cursor:pointer;
}

#root-notlogged-content #root-notlogged-password-lost input {
    margin-top:30px;
    border: 1px solid #CCC;
    padding:3px 5px;
}

#root-notlogged-content #root-notlogged-password-lost input[type=submit] {
    margin-top:20px;
    border:0px none;
    padding:5px 20px;
    background:#78bbce;
    color:white;
    font-weight:bold;
    cursor:pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}