body {
	font-family:verdana,helvetica,arial,sans-serif;
}

#root-logged img.logo {
	max-width:400px;
	max-height:60px;
	height:60px;
	padding:0 80px;
	float:left;
}

#root-logged-menu {
	float:left;
	margin-left:40px;
}

#root-logged-main-menu {
	background: #2C3E50;
}

.clear{clear:both;height:0px;overflow:hidden}