#root-logged-about-content img {
    left: 50%;
    margin-left: -300px;
    position: absolute;
    top: 150px;
}

#root-logged-about-content p {
    left: 50%;
    margin-left: -300px;
    width:600px;
    top: 400px;
    position:absolute;
    font-size:1.0em;
    text-align:justify;
}

#root-logged-about-content p a {
    font-size:1.1em;
    text-decoration:none;
    color:#78BBCE;
}

#root-logged-about-content p a:hover {
    text-decoration:underline;
}