/* resource/css/notlogged.css */

#notlogged img {
    left:50px;
    top:25px;
    position:absolute;
}

#notlogged h1 {
	color:#426485;
	font-weight:normal;
	font-family:Arial, Verdana;
}

#notlogged input {
	border:0px none;
	border-bottom:1px solid #426485;
}

#notlogged input[type="submit"] {
	float:right;
	border:0px none;
	color:white;
	background:#426485;
	padding:5px 8px;
}

#notlogged input[type="submit"]:after {
	clear:both;
}

#notlogged a{
	color:#488542;
	text-decoration:none;
}
#notlogged a:hover{
	text-decoration:underline;
}

#notlogged #notlogged-content div {
    margin-top:5px;
}
 
#notlogged-content {
    left:50%;
    top:50%;
    width:350px;
    height:220px;
    margin-top:-110px;
    margin-left:-200px;
    position:absolute;
	padding:0 20px;
	border:2px dotted #CCC;
}
 
#notlogged label {
    display:inline-block;
    width:200px;
}