!!! 5
%html
	%head
		%title= "File manager"
	%body
		%h1= "Hello"

		%form{ :action => "/file/upload", :method => "POST", :enctype => "multipart/form-data" }
			%label= "Select a file"
			%input{ :type => "file", :name => "upload", :required => true }
			%input{ :type => "submit", :value => "Send" }

		%script{ :src => "/resource/test.js" }